<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
  <img id="header-img" src="/assets/dd22d.png">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "待買清單", defined?(root_path) ? root_path : "#", class: "navbar-brand" %>
    <%= link_to "餐廳列表", defined?(restaurants_path) ? restaurants_path : "#", class: "navbar-brand" %>
    <%= link_to "訂單查詢", defined?(orders_path) ? orders_path : "#", class: "navbar-brand" %>
   </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if defined?(Devise) %>
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i>
            您的帳戶 <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "帳戶管理", edit_user_registration_path %></li>
              <li class="divider"></li>
              <li><%= link_to "登出", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "登入", new_user_session_path %></li>
          <li><%= link_to "註冊", new_user_registration_path %></li>
        <% end %>
      <% end %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
