<%= simple_form_for(@order) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :total_price %>
    <%= f.association :driver %>
    <%= f.association :user %>
    <%= f.association :location %>
    <%= f.association :restaurant %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
