<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => Order %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>訂單編號</th>
      <th><%= model_class.human_attribute_name(:total_price) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= link_to order.id, order %></td>
        <td><%= order.total_price %></td>
        <td><%=l order.created_at, format: :long %></td>
      </tr>
    <% end %>
  </tbody>
</table>
