<%- model_class = Order -%>
<div class="page-header">
  <h1><%=t '.title', :default => Order %></h1>
</div>

<div class="fieldset">
  <dl>
      <dt class="label label-default"><%= model_class.human_attribute_name(:total_price) %></dt>
      <dd>
      <pre class="prettyprint">
        <%= @order.total_price %> * <%= @order.discount.title %>( <%= @order.discount.percentage %> ) = <%= @order.final_price %>
      </pre>
      </dd>

      <dt class="label label-default"> Dishes </dt>
      <dd><pre class="prettyprint"><%= @order.dishes.map(&:name).join(', ') %></pre></dd>

      <dt class="label label-default"> Restaurant </dt>
      <dd><pre class="prettyprint"><%= @order.restaurant.name %></pre></dd>

      <dt class="label label-default"> Driver </dt>
      <dd><pre class="prettyprint"><%= @order.driver.name %></pre></dd>
      <dd><pre class="prettyprint"><%= @order.driver.transportation.name %></pre></dd>
  </dl>
</div>
