<%- model_class = Dish -%>
<div class="page-header">
  <h1><%=t '.title', default: Dish %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th> 加入待買 </th>
      <th> Dish Type </th>
    </tr>
  </thead>
  <tbody>
    <% @dishes.each do |dish| %>
      <tr>
        <td><%= dish.id %></td>
        <td><%= dish.name %></td>
        <td><%= dish.description %></td>
        <td><%= dish.price %></td>
        <td> <%= link_to '加入待買', to_buys_path(dish_id: dish.id), method: :post %> </td>
        <td> <%= dish.dish_type.name %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

